/* styles for the header to be responsive */
.note-header {
  max-width: 1400px;
  padding-top: 10px;
}

.note-entry {
  display: inline-block;
  flex-wrap: wrap;
  position: relative;
}

.instructions {
  width: 33%;
  order: 0;
}

form {
  width: 100%;
  display: inline-block;
}

box-order {
  order: 0;
}

/* media queries */
@media screen and (min-width: 720px) {
  .spiel {
    font-size: 1.25em;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
  .information {
    font-size: 1.25em;
  }
  .key {
    font-size: 1em;
    position: absolute;
  }
}

@media screen and (min-width: 1200px) {
  .spiel {
    font-size: 1.75em;
  }
  h1 {
    font-size: 2.25em;
  }
  h2 {
    font-size: 2em;
  }
  .information {
    font-size: 1.5em;
  }
  .key {
    font-size: 1.2em;
  }
}
